*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body{
  font-family: Monospace;
}
.container {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  flex-direction: row;
}
.container div{
  background-color: darkslateblue;
  width: 100px;
  height: 100px;
  margin: 2px;
}