*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Monospace;
  background-color: lightyellow;
}

.container{
  margin: 50% auto;
  width: 900px;
  display: flex;
  justify-content: center;
}

.container  img{
  display: inline-block;
  width: 200px;
  height: 250px;
  margin-bottom: 30px;
}


.box{
  margin: 10px;
  height: 400px;
  width: 200px;
  background: linear-gradient(45deg, salmon 20%,transparent 80%);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.container  .btn{
  background-color: black;
  color: white;
  margin: 20px;
  padding: 0px 20px 0px 20px;
  border-radius:3px;
  border: 0px ;
}


.dua{
  transform: scale(1.15);
}
